<%= link_to "New deck", new_deck_path %>
<% @decks.each do |deck| %>
  <div>
    <%= link_to deck.name, deck %>
    <div><%= link_to "Edit", edit_deck_path(deck) %></div>
    <div><%= link_to "Delete", deck, method: :delete, confirm: "Are you sure?" %></div>
  </div>
<% end %>
